<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex items-center justify-between">
        <a class="text-xl font-bold" href="/">게시판 서비스</a>
        <ul class="flex">
            <li class="ml-6"><a class="hover:text-gray-300" href="/author/list">회원관리</a></li>
            <li class="ml-6"><a class="hover:text-gray-300" href="/author/create">회원가입</a></li>
            <li class="ml-6"><a class="hover:text-gray-300" href="/post/list">게시글목록</a></li>
        </ul>
    </div>
</div>

<div class="container mx-auto mt-4 px-4 text-center">
    <h1 class="text-2xl font-bold text-blue-600 mb-4">게시글 목록</h1>
</div>

<div class="mb-4 flex justify-center items-center">
    <form action="/post/search" method="get" class="flex w-full max-w-lg">
        <input type="text" name="query" class="flex-grow mr-2 p-2 border rounded" placeholder="검색...">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="min-width: 2.5rem;">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <a href="/post/create" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" style="min-width: 3rem;">
        <i class="fas fa-pencil-alt text-lg"></i>
    </a>
</div>

    <div class="flex flex-col items-center space-y-8">
        <div th:each="post : ${postlist}" class="w-full sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4 bg-white p-6 border border-gray-300 rounded-lg shadow-lg">
            <h5 class="text-lg font-bold mb-4" th:text="${post.title}">게시글 제목</h5>
            <p class="text-sm text-gray-600 mb-2" th:text="'ID: ' + ${post.id}">게시글 ID</p>
            <p class="text-sm text-gray-600 mb-2" th:text="'작성자: ' + ${post.author_email}">작성자</p>
            <a th:href="@{|/post/detail/${post.id}|}" class="text-blue-600 hover:text-blue-900">상세보기</a>
        </div>
    </div>
</div>

<div class="text-center py-4 mt-10 border-t border-gray-200">
    <p>&copy; 2024 My Website</p>
</div>
</body>
</html>
