<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex items-center justify-between">
        <a class="text-xl font-bold" href="/">게시판 서비스</a>
        <ul class="flex">
            <li class="ml-6"><a class="hover:text-gray-300" href="/author/list">회원관리</a></li>
            <li class="ml-6"><a class="hover:text-gray-300" href="/author/create">회원가입</a></li>
            <li class="ml-6"><a class="hover:text-gray-300" href="/post/list">게시글목록</a></li>
        </ul>
    </div>
</div>
<div class="container mx-auto my-4 px-4">
    <h1 class="text-center text-3xl font-bold my-4">제목</h1>
    <div class="max-w-lg mx-auto bg-white p-6 border border-gray-300 rounded-lg shadow-lg">
        <form action="/post/create" method="post" class="space-y-4">
            <div>
                제목 <input type="text" name="title" class="w-full p-2 border rounded">
            </div>
            <div>
                내용 <textarea name="contents" class="w-full p-2 border rounded"></textarea>
            </div>
            <div>
                이메일 <input type="email" name="email" class="w-full p-2 border rounded">
            </div>
            <div>
                예약 여부:
                <select name="appointment" class="w-full p-2 border rounded" id="appointmentSelect">
                    <option value="Y">예약</option>
                    <option value="N" selected>비활성화</option>
                </select>
            </div>
            <div id="appointmentDateTime" style="display: none;">
                예약 날짜 <input type="datetime-local" name="appointmentTime" class="w-full p-2 border rounded">
            </div>
            <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">등록완료</button>
            <div th:if="${errormessage}">
                <input class="hidden" id="error" th:value="${errormessage}"></input>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('appointmentSelect').addEventListener('change', function() {
        var appointmentSection = document.getElementById('appointmentDateTime');
        if (this.value === 'Y') {
            appointmentSection.style.display = 'block';
        } else {
            appointmentSection.style.display = 'none';
        }
    });

    // 기존의 JavaScript 코드
    let errorMessage = document.getElementById("error").value;
    if(errorMessage) {
        alert(errorMessage);
    }
</script>
</body>
</html>
