<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex items-center justify-between">
        <a class="text-xl font-bold" href="/">게시판 서비스</a>
        <ul class="flex">
            <li class="ml-6"><a class="hover:text-gray-300" href="/author/list">회원관리</a></li>
            <li class="ml-6"><a class="hover:text-gray-300" href="/author/create">회원가입</a></li>
            <li class="ml-6"><a class="hover:text-gray-300" href="/post/list">게시글목록</a></li>
        </ul>
    </div>
</div>
<div class="container mx-auto mt-4 px-4">
    <h1 class="text-3xl font-semibold text-center text-gray-800 my-4">상세보기</h1>
    <div class="max-w-xl mx-auto bg-white rounded shadow-md p-6">
        <p class="text-gray-600">Id : <span th:text="${post.id}"></span></p>
        <p class="text-gray-600">Title : <span th:text="${post.title}"></span></p>
        <p class="text-gray-600">Contents : <span th:text="${post.contents}"></span></p>
        <p class="text-gray-600">Create Time : <span th:text="${post.created_time}"></span></p>
        <div class="flex justify-center mt-4">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" onclick="toggleUpdateForm()">수정</button>
            <a th:href="@{|/post/delete/${post.id}|}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="return confirmDelete();">삭제</a>
        </div>
    </div>

    <div id="update-form" class="max-w-xl mx-auto bg-white rounded shadow-md p-6 mt-4">
        <form action="/post/update" method="post" class="form-group">
            <div class="mb-4">
                ID <input type="text" name="id" th:value="${post.id}" class="form-control bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" readonly>
            </div>
            <div class="mb-4">
                Name <input type="text" name="title" th:value="${post.title}" class="form-control bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
            </div>
            <div class="mb-4">
                Contents <input type="text" name="contents" th:text="${post.contents}" class="form-control bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
            </div>
            <div class="mb-4">
                Created_time <input type="text" name="created_time" th:value="${post.created_time}" class="form-control bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" readonly>
            </div>
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full">수정완료</button>
        </form>
    </div>
</div>

<script>
    window.onload = function() {
         toggleUpdateForm();
     };

     function toggleUpdateForm() {
         var x = document.getElementById('update-form');
         if (window.getComputedStyle(x).display === 'none') {
             x.style.display = 'block';
         } else {
             x.style.display = 'none';
         }
     }

     function confirmDelete() {
         return confirm('삭제하시겠습니까?');
     }
</script>
</body>
</html>
